{% from "helpers.jinja" import safe_docstring %}

{{ safe_docstring(package_description) }}

from ._version import __version__
from .client import Environment, Nadeshiko

__all__ = (
    "Nadeshiko",
    "Environment",
    "__version__",
)
